body {
  font-family: Arial, sans-serif;
}

.text-violet {
  color: #b266ff !important;
}

.btn-violet {
  background-color: #b266ff;
  color: #fff;
  border: none;
}
.btn-violet:hover {
  background-color: #8c1aff;
}
section h3 {
  font-size: 1.2rem; 
  text-align: left;    
  margin-left: 0.5rem; 
}

.card-img-top {
  height: 300px;         
  object-fit: cover;  
}

