@import 'variables';
@import 'header';
@import 'footer';

// RESET
* {
  margin: 0;        
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fuente-principal;
  background: $color-fondo;
  color: $color-texto;
}



// TÍTULO PRINCIPAL
main {

  h1{
    text-align: center;
    margin: 30px 0;
    color: $color-morado;
    font-weight: bold;
    font-size: 35px;
  }
  h2 {
    text-align: center;
    margin: 30px 0;
    color: $color-texto;
  }

  // FILTROS
  section:first-of-type {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin: 0 40px 30px;
    flex-wrap: wrap;

    select,
    button {
      padding: 8px 12px;
      border-radius: 5px;
      border: none;
      background: $color-fondo-gris;
      color: $color-texto;
      cursor: pointer;

      &:hover {
        background: $color-morado;
      }
    }
  }
}

// GRID DE PRODUCTOS CON BOOTSTRAP
.container {
  margin-bottom: 50px;

  .row {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  article {
    text-align: center;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    img {
      width: 100%;
      height: 400px;
      object-fit: contain;
      margin-bottom: 10px;
      border-radius: 5px;
      display: block;
    }

    h3 {
      color: $color-texto;
      margin: 5px 0;
      font-size: 1rem;
    }

    p {
      color: $color-texto;
      font-size: 0.9rem;
    }
  }
}

//  FOOTER
footer {
  background: $color-fondo-gris;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  .marca {
    font-size: 1.5rem;
    font-weight: bold;
    color: $color-morado;
  }

  .redes a {
    color: $color-texto;
    font-size: 1.4rem;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      color: $color-morado;
    }
  }

  .links {
    ul {
      list-style: none;
      display: flex;
      gap: 30px;
      flex-wrap: wrap;

      a {
        color: $color-texto;
        text-decoration: none;
      }
    }
  }
}

// IMAGENES
.card-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

// PAGINACIÓN
.pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0;

  nav {
    ul {
      display: flex;
      list-style: none;
      gap: 8px;

      li {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 35px;
          height: 35px;
          color: $color-texto;
          background-color: $color-fondo-gris;
          border-radius: 5px;

          &:hover {
            background-color: $color-fondo-gris;
            color: $color-texto;
          }
        }

        &:last-child a {
          background-color: transparent;
          font-size: 1.5rem;

          &:hover {
            background-color: transparent;
            color: $color-morado;
          }
        }
      }
    }
  }
}

// RESPONSIVE
@media (max-width: 1024px) {
  header {
    flex-direction: column;
    align-items: flex-start;

    nav ul {
      gap: 20px;
    }
  }
}

@media (max-width: 600px) {
  header {
    padding: 15px 20px;

    nav ul {
      flex-direction: column;
      gap: 10px;
    }
  }

  main {
    h2 {
      font-size: 1.5rem;
    }

    section:first-of-type {
      margin: 0 20px 20px;
    }

    section:nth-of-type(2) {
      margin: 0 20px 30px;
    }
  }

  footer {
    flex-direction: column;

    text-align: center;

    .links ul {
      flex-direction: column;
      gap: 10px;
    }
  }
}

/* ====== RESPONSIVE BOOTSTRAP GRID ====== */
@media (max-width: 768px) {
  .container article {
    margin-bottom: 30px;
    
    img {
      height: 300px;
    }
  }
}

@media (max-width: 576px) {
  .container article img {
    height: 400px;
  }
}

/* ====== RESPONSIVE HEADER ====== */
@media (max-width: 992px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
  }

  header nav ul {
    gap: 40px;
    flex-wrap: wrap;
  }

  header .icons {
    align-self: flex-end;
    .search {
      width: 150px;
    }
  }
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  header .logo {
    align-items: center;
  }

  header nav ul {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  header .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;

    .search-group {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0px;
      width: 100%;
    
      .search{
        width: 100px;
        max-width: 200px;
      }
    }

    .user-cart{
      display: flex;
      gap: 30px;
      justify-content: center;
    }
  }
}

